@import "tailwindcss";
@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-slideIn {
    animation: slideIn 0.3s ease-out;
  }


@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
}

@keyframes progress {
  0% { width: 0%; }
  50% { width: 60%; }
  100% { width: 100%; }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-progress {
  animation: progress 2s ease-in-out infinite;
}